header {
    display: flex;
    align-items: center;
}

img, .w3-table-all{
    width: 80%;
    margin: 0 10%;
}

#cont, .btnBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#badGoods {
    background: coral;
}

.btnBlock {
    width: 50%;
    margin-left: 25%;
}

button {
    margin: 20px 0 0 0;
}

@media (max-width: 540px) {

    img, .w3-table-all {
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 320px) {
    html {
        width: min-content;
    }

    .w3-container {
        padding: 0;
    }

    p{
        padding: 0 10px;
    }

    h5 {
        margin-left: 10px;
    }
}